node-red/medibox.json
[
    {
        "id": "9fc70cf43a34da9e",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e7c0a1222bdaed1d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a88e55d99fec423",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26e5ddc788e77e61",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0c25cce393ada22c",
        "type": "ui_group",
        "name": "Main Buzzer",
        "tab": "0a88e55d99fec423",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a062b302758abd6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "294a1eee0dddf98a",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "0a88e55d99fec423",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87270550e434eb03",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "0a88e55d99fec423",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e6d468ca39b7433",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "0a88e55d99fec423",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb957972e6b992d9",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "0a88e55d99fec423",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84b895dbf3a1702a",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "0a88e55d99fec423",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f3173434023d3e4",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "99ad34ad8a935e95",
        "type": "ui_group",
        "name": "Buzzer",
        "tab": "5f3173434023d3e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7a9cd67e59156f4",
        "type": "ui_group",
        "name": "Features",
        "tab": "5f3173434023d3e4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "beca1c88f0500908",
        "type": "ui_switch",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Main Switch",
        "tooltip": "Toggle the main buzzer",
        "group": "0c25cce393ada22c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "190622R/main_buzzer",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "mi-power_settings_new",
        "oncolor": "red",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "mi-mode_standby",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 1870,
        "y": 160,
        "wires": [
            [
                "fb3cab73d66b23a3"
            ]
        ],
        "icon": "font-awesome/fa-power-off"
    },
    {
        "id": "fb3cab73d66b23a3",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Main Switch",
        "rules": [
            {
                "t": "set",
                "p": "main_buzzer",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 160,
        "wires": [
            [
                "8ac89e6c867a24a5"
            ]
        ]
    },
    {
        "id": "e289d1a3be4702f9",
        "type": "mqtt out",
        "z": "9fc70cf43a34da9e",
        "name": "MQTT Out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6a062b302758abd6",
        "x": 2830,
        "y": 900,
        "wires": []
    },
    {
        "id": "1a98b51757a8106e",
        "type": "ui_switch",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Schedule",
        "tooltip": "",
        "group": "294a1eee0dddf98a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "mi-alarm_on",
        "oncolor": "#097479",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "mi-alarm_off",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 1860,
        "y": 240,
        "wires": [
            [
                "1116c0d9e5f7053e",
                "db0e512141d04ab9"
            ]
        ]
    },
    {
        "id": "541c2d3fa8c4f6ee",
        "type": "ui_numeric",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Days",
        "tooltip": "Number of days to repeat the Medibox scheduler",
        "group": "294a1eee0dddf98a",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 2110,
        "y": 400,
        "wires": [
            [
                "07f0cd8c5a36f0a2"
            ]
        ]
    },
    {
        "id": "3793da67a454e187",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Trigger at 12:00 AM",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1640,
        "y": 400,
        "wires": [
            [
                "453bdc4399fa7ff2"
            ]
        ]
    },
    {
        "id": "07f0cd8c5a36f0a2",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Days Count",
        "rules": [
            {
                "t": "set",
                "p": "days",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 400,
        "wires": [
            [
                "db0e512141d04ab9",
                "cd785d391ad3f7f4"
            ]
        ]
    },
    {
        "id": "453bdc4399fa7ff2",
        "type": "function",
        "z": "9fc70cf43a34da9e",
        "name": "Reduce Days Count by 1",
        "func": "let days = flow.get(\"days\");\ndays = Math.max(days-1, 0);\nmsg.payload = days;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"days\", 6)",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 400,
        "wires": [
            [
                "541c2d3fa8c4f6ee",
                "cd785d391ad3f7f4"
            ]
        ]
    },
    {
        "id": "b62f4022cb5a36cd",
        "type": "ui_text_input",
        "z": "9fc70cf43a34da9e",
        "name": "Alarm 1 Time",
        "label": "",
        "tooltip": "",
        "group": "294a1eee0dddf98a",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 2130,
        "y": 480,
        "wires": [
            [
                "6a045f37d18b6178",
                "db0e512141d04ab9"
            ]
        ]
    },
    {
        "id": "40e2022084843a44",
        "type": "ui_switch",
        "z": "9fc70cf43a34da9e",
        "name": "Alarm 1 Switch",
        "label": "",
        "tooltip": "",
        "group": "294a1eee0dddf98a",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "mi-notifications_active",
        "oncolor": "#097479",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "mi-notifications_off",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 2140,
        "y": 520,
        "wires": [
            [
                "67a2fb872d75478b",
                "db0e512141d04ab9"
            ]
        ]
    },
    {
        "id": "1116c0d9e5f7053e",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Schedule",
        "rules": [
            {
                "t": "set",
                "p": "schedule",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6a045f37d18b6178",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Alarm 1 Time",
        "rules": [
            {
                "t": "set",
                "p": "alarm_1_time",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "67a2fb872d75478b",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Alarm 1 Enable",
        "rules": [
            {
                "t": "set",
                "p": "alarm_1_en",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "db0e512141d04ab9",
        "type": "function",
        "z": "9fc70cf43a34da9e",
        "name": "Process Alarms",
        "func": "const offset = 19800000;\n\nlet schedule_en = flow.get(\"schedule\").toString();\nlet days = flow.get(\"days\").toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\n\n// Alarm 1\nlet alarm_1 = parseInt(flow.get(\"alarm_1_time\")) + offset;\nlet alarm_1_en = flow.get(\"alarm_1_en\").toString();\nlet alarm_1_hour = (Math.floor(alarm_1 / 3600000)).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\nlet alarm_1_min = (Math.floor(alarm_1 / 60000) % 60).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\n\n// Alarm 2\nlet alarm_2 = parseInt(flow.get(\"alarm_2_time\")) + offset;\nlet alarm_2_en = flow.get(\"alarm_2_en\").toString();\nlet alarm_2_hour = (Math.floor(alarm_2 / 3600000)).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\nlet alarm_2_min = (Math.floor(alarm_2 / 60000) % 60).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\n\n// Alarm 3\nlet alarm_3 = parseInt(flow.get(\"alarm_3_time\")) + offset;\nlet alarm_3_en = flow.get(\"alarm_3_en\").toString();\nlet alarm_3_hour = (Math.floor(alarm_3 / 3600000)).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\nlet alarm_3_min = (Math.floor(alarm_3 / 60000) % 60).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\n\nmsg.payload = schedule_en + alarm_1_en + alarm_1_hour + alarm_1_min + alarm_2_en + alarm_2_hour + alarm_2_min + alarm_3_en + alarm_3_hour + alarm_3_min + days;\nmsg.topic = \"190622R/alarms\";\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"schedule\", false);\nflow.set(\"alarm_1_time\", 0);\nflow.set(\"alarm_1_en\", 0);",
        "finalize": "",
        "libs": [],
        "x": 2720,
        "y": 340,
        "wires": [
            [
                "1ed0e741f7a06f70"
            ]
        ]
    },
    {
        "id": "be35760e88cc36ac",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Sync Alarms Periodically ",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2350,
        "y": 340,
        "wires": [
            [
                "db0e512141d04ab9"
            ]
        ]
    },
    {
        "id": "7f508048cfb8fc44",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1870,
        "y": 620,
        "wires": [
            [
                "40e2022084843a44",
                "4565835e8865e793",
                "2568156f3c50e4be"
            ]
        ]
    },
    {
        "id": "a8a2199890b89288",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-19800000",
        "payloadType": "num",
        "x": 1870,
        "y": 580,
        "wires": [
            [
                "b62f4022cb5a36cd",
                "bad9bc05f76c72c6",
                "4dfa6ae0b6cf42bd"
            ]
        ]
    },
    {
        "id": "d3eae5795982da24",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "190622R/main_buzzer",
        "payload": "0",
        "payloadType": "num",
        "x": 1650,
        "y": 200,
        "wires": [
            [
                "beca1c88f0500908",
                "1a98b51757a8106e"
            ]
        ]
    },
    {
        "id": "bad9bc05f76c72c6",
        "type": "ui_text_input",
        "z": "9fc70cf43a34da9e",
        "name": "Alarm 2 Time",
        "label": "",
        "tooltip": "",
        "group": "294a1eee0dddf98a",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 2130,
        "y": 580,
        "wires": [
            [
                "87473a252821ee4d",
                "db0e512141d04ab9"
            ]
        ]
    },
    {
        "id": "4565835e8865e793",
        "type": "ui_switch",
        "z": "9fc70cf43a34da9e",
        "name": "Alarm 2 Switch",
        "label": "",
        "tooltip": "",
        "group": "294a1eee0dddf98a",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "mi-notifications_active",
        "oncolor": "#097479",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "mi-notifications_off",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 2140,
        "y": 620,
        "wires": [
            [
                "2297b4269b3d0722"
            ]
        ]
    },
    {
        "id": "87473a252821ee4d",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Alarm 2 Time",
        "rules": [
            {
                "t": "set",
                "p": "alarm_2_time",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2297b4269b3d0722",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Alarm 2 Enable",
        "rules": [
            {
                "t": "set",
                "p": "alarm_2_en",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4dfa6ae0b6cf42bd",
        "type": "ui_text_input",
        "z": "9fc70cf43a34da9e",
        "name": "Alarm 2 Time",
        "label": "",
        "tooltip": "",
        "group": "294a1eee0dddf98a",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 2130,
        "y": 680,
        "wires": [
            [
                "7779c0a261738e0d",
                "db0e512141d04ab9"
            ]
        ]
    },
    {
        "id": "2568156f3c50e4be",
        "type": "ui_switch",
        "z": "9fc70cf43a34da9e",
        "name": "Alarm 2 Switch",
        "label": "",
        "tooltip": "",
        "group": "294a1eee0dddf98a",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "mi-notifications_active",
        "oncolor": "#097479",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "mi-notifications_off",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 2140,
        "y": 720,
        "wires": [
            [
                "1cc3080926f60b43",
                "db0e512141d04ab9"
            ]
        ]
    },
    {
        "id": "7779c0a261738e0d",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Alarm 3 Time",
        "rules": [
            {
                "t": "set",
                "p": "alarm_3_time",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "1cc3080926f60b43",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Alarm 3 Enable",
        "rules": [
            {
                "t": "set",
                "p": "alarm_3_en",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "856df2095393af2b",
        "type": "link in",
        "z": "9fc70cf43a34da9e",
        "name": "mqtt_out",
        "links": [
            "1ed0e741f7a06f70",
            "8ac89e6c867a24a5",
            "a35e53b38d8530ea",
            "bd3426318da0c515",
            "927a478b7fa3c782"
        ],
        "x": 2695,
        "y": 900,
        "wires": [
            [
                "e289d1a3be4702f9"
            ]
        ]
    },
    {
        "id": "8ac89e6c867a24a5",
        "type": "link out",
        "z": "9fc70cf43a34da9e",
        "name": "main_buzzer_out",
        "mode": "link",
        "links": [
            "856df2095393af2b"
        ],
        "x": 2215,
        "y": 160,
        "wires": []
    },
    {
        "id": "1ed0e741f7a06f70",
        "type": "link out",
        "z": "9fc70cf43a34da9e",
        "name": "alarm_out",
        "mode": "link",
        "links": [
            "856df2095393af2b"
        ],
        "x": 2845,
        "y": 340,
        "wires": []
    },
    {
        "id": "c5a06525e18a0bb1",
        "type": "mqtt in",
        "z": "9fc70cf43a34da9e",
        "name": "MQTT In",
        "topic": "190622R/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6a062b302758abd6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "e652ac6157f67280"
            ]
        ]
    },
    {
        "id": "e652ac6157f67280",
        "type": "switch",
        "z": "9fc70cf43a34da9e",
        "name": "Switch Topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "190622R/temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "190622R/humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "190622R/light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "190622R/switch_back",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "73fe57b19578a7ef"
            ],
            [
                "bc5b12d1d86ac51a"
            ],
            [
                "b114ecfb62e7e121"
            ],
            [
                "e60ca9f42b47fce6"
            ]
        ]
    },
    {
        "id": "b50b5060733d4233",
        "type": "ui_gauge",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "group": "87270550e434eb03",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "",
        "format": "{{value | number:0}}°C",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "024815b118e084da",
        "type": "ui_numeric",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Min",
        "tooltip": "",
        "group": "87270550e434eb03",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}°C",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "f554f64dcb9e68f0"
            ]
        ]
    },
    {
        "id": "0ac361ad6a8a8c59",
        "type": "ui_numeric",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Max",
        "tooltip": "",
        "group": "87270550e434eb03",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}°C",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "dd29625aee3067a9"
            ]
        ]
    },
    {
        "id": "9b207f8b594f85a6",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "b50b5060733d4233",
                "820b9c482bb391ba"
            ]
        ]
    },
    {
        "id": "354407f899f4f629",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "024815b118e084da",
                "f554f64dcb9e68f0"
            ]
        ]
    },
    {
        "id": "36143e21c83b2eb7",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "0ac361ad6a8a8c59",
                "dd29625aee3067a9"
            ]
        ]
    },
    {
        "id": "f554f64dcb9e68f0",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Min Temo",
        "rules": [
            {
                "t": "set",
                "p": "min_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "dd29625aee3067a9",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Max Temo",
        "rules": [
            {
                "t": "set",
                "p": "max_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "73fe57b19578a7ef",
        "type": "link out",
        "z": "9fc70cf43a34da9e",
        "name": "temp",
        "mode": "link",
        "links": [
            "b2b41000cb54d856"
        ],
        "x": 470,
        "y": 520,
        "wires": [],
        "l": true
    },
    {
        "id": "b2b41000cb54d856",
        "type": "link in",
        "z": "9fc70cf43a34da9e",
        "name": "link in 1",
        "links": [
            "73fe57b19578a7ef"
        ],
        "x": 805,
        "y": 140,
        "wires": [
            [
                "b50b5060733d4233",
                "380befb8ce334aa2",
                "820b9c482bb391ba"
            ]
        ]
    },
    {
        "id": "380befb8ce334aa2",
        "type": "function",
        "z": "9fc70cf43a34da9e",
        "name": "Process Temp",
        "func": "let min_temp = parseInt(flow.get(\"min_temp\"));\nlet max_temp = parseInt(flow.get(\"max_temp\"));\nlet temp = parseInt(msg.payload)\n\nif (temp < min_temp) {\n    msg.payload = \"Current Temperature is lower than the Minimum Temperature\";\n    msg.topic = \"Temperature Warning\"\n    return msg;\n} else if (temp > max_temp) {\n    msg.payload = \"Current Temperature is higher than the Maximum Temperature\";\n    msg.topic = \"Temperature Warning\"\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 60,
        "wires": [
            [
                "dcf154f097342287"
            ]
        ]
    },
    {
        "id": "dcf154f097342287",
        "type": "ui_toast",
        "z": "9fc70cf43a34da9e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Temperature Notification",
        "x": 1270,
        "y": 60,
        "wires": []
    },
    {
        "id": "820b9c482bb391ba",
        "type": "ui_chart",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "group": "87270550e434eb03",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9b1cdbdbbfe53971",
        "type": "ui_gauge",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "group": "2e6d468ca39b7433",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "",
        "format": "{{value | number:0}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 520,
        "wires": []
    },
    {
        "id": "5d00755a1bcd1288",
        "type": "ui_numeric",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Min",
        "tooltip": "",
        "group": "2e6d468ca39b7433",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "d38d85ea203ccb05"
            ]
        ]
    },
    {
        "id": "1e6dc296405f246b",
        "type": "ui_numeric",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Max",
        "tooltip": "",
        "group": "2e6d468ca39b7433",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1010,
        "y": 740,
        "wires": [
            [
                "bbc78dcc58257bd7"
            ]
        ]
    },
    {
        "id": "cedde505dc5c8436",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 750,
        "y": 520,
        "wires": [
            [
                "9b1cdbdbbfe53971",
                "8ee368d5e75ce6c2"
            ]
        ]
    },
    {
        "id": "e00cad335cc0b515",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 750,
        "y": 620,
        "wires": [
            [
                "5d00755a1bcd1288",
                "d38d85ea203ccb05"
            ]
        ]
    },
    {
        "id": "53517cb483dde4e9",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 750,
        "y": 740,
        "wires": [
            [
                "1e6dc296405f246b",
                "bbc78dcc58257bd7"
            ]
        ]
    },
    {
        "id": "d38d85ea203ccb05",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Min Humidity",
        "rules": [
            {
                "t": "set",
                "p": "min_humidity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "bbc78dcc58257bd7",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Max Humidity",
        "rules": [
            {
                "t": "set",
                "p": "max_humidity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "f9a92778bc326a1b",
        "type": "link in",
        "z": "9fc70cf43a34da9e",
        "name": "link in 2",
        "links": [
            "bc5b12d1d86ac51a"
        ],
        "x": 805,
        "y": 560,
        "wires": [
            [
                "9b1cdbdbbfe53971",
                "1fa5555c9fee0ccd",
                "8ee368d5e75ce6c2"
            ]
        ]
    },
    {
        "id": "1fa5555c9fee0ccd",
        "type": "function",
        "z": "9fc70cf43a34da9e",
        "name": "Process Humidity",
        "func": "let min_humidity = parseInt(flow.get(\"min_humidity\"));\nlet max_humidity = parseInt(flow.get(\"max_humidity\"));\nlet humidity = parseInt(msg.payload)\n\nif (humidity < min_humidity) {\n    msg.payload = \"Current Humidity is lower than the Minimum Humidity\";\n    msg.topic = \"Humidity Warning\"\n    return msg;\n} else if (humidity > max_humidity) {\n    msg.payload = \"Current Humidity is higher than the Maximum Humidity\";\n    msg.topic = \"Humidity Warning\"\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "3fadb1c17ec634ff"
            ]
        ]
    },
    {
        "id": "3fadb1c17ec634ff",
        "type": "ui_toast",
        "z": "9fc70cf43a34da9e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Humidity Notification",
        "x": 1260,
        "y": 480,
        "wires": []
    },
    {
        "id": "8ee368d5e75ce6c2",
        "type": "ui_chart",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "group": "2e6d468ca39b7433",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "bc5b12d1d86ac51a",
        "type": "link out",
        "z": "9fc70cf43a34da9e",
        "name": "humidity",
        "mode": "link",
        "links": [
            "f9a92778bc326a1b"
        ],
        "x": 480,
        "y": 560,
        "wires": [],
        "l": true
    },
    {
        "id": "b114ecfb62e7e121",
        "type": "link out",
        "z": "9fc70cf43a34da9e",
        "name": "light",
        "mode": "link",
        "links": [
            "28306226e17d46d1"
        ],
        "x": 470,
        "y": 600,
        "wires": [],
        "l": true
    },
    {
        "id": "d4f486aff908b1a9",
        "type": "ui_gauge",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "group": "eb957972e6b992d9",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 940,
        "wires": []
    },
    {
        "id": "a897411a4361a3ed",
        "type": "ui_numeric",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Min",
        "tooltip": "",
        "group": "eb957972e6b992d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 1010,
        "y": 1040,
        "wires": [
            [
                "215949ec9228f3a6"
            ]
        ]
    },
    {
        "id": "76be82c039998721",
        "type": "ui_numeric",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Max",
        "tooltip": "",
        "group": "eb957972e6b992d9",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 1010,
        "y": 1160,
        "wires": [
            [
                "2dc01f35394185fe"
            ]
        ]
    },
    {
        "id": "a31866777177b89c",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 750,
        "y": 940,
        "wires": [
            [
                "d4f486aff908b1a9",
                "232da0f8fe6f744d"
            ]
        ]
    },
    {
        "id": "5d2e63d74d261c66",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.2",
        "payloadType": "num",
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "a897411a4361a3ed",
                "215949ec9228f3a6"
            ]
        ]
    },
    {
        "id": "93de8a79df9d3acd",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.8",
        "payloadType": "num",
        "x": 750,
        "y": 1160,
        "wires": [
            [
                "76be82c039998721",
                "2dc01f35394185fe"
            ]
        ]
    },
    {
        "id": "215949ec9228f3a6",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Min Light",
        "rules": [
            {
                "t": "set",
                "p": "min_light",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "2dc01f35394185fe",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Max Light",
        "rules": [
            {
                "t": "set",
                "p": "max_light",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "28306226e17d46d1",
        "type": "link in",
        "z": "9fc70cf43a34da9e",
        "name": "link in 3",
        "links": [
            "b114ecfb62e7e121"
        ],
        "x": 805,
        "y": 980,
        "wires": [
            [
                "d4f486aff908b1a9",
                "b7b229517a6f8c45",
                "232da0f8fe6f744d"
            ]
        ]
    },
    {
        "id": "b7b229517a6f8c45",
        "type": "function",
        "z": "9fc70cf43a34da9e",
        "name": "Process Light",
        "func": "let min_light = parseFloat(flow.get(\"min_light\"));\nlet max_light = parseFloat(flow.get(\"max_light\"));\nlet light = parseFloat(msg.payload)\n\nif (light < min_light) {\n    msg.payload = \"Current Light Intensity is lower than the Minimum Light Intensity\";\n    msg.topic = \"Light Intensity Warning\"\n    return msg;\n} else if (light > max_light) {\n    msg.payload = \"Current Light Intensity is higher than the Maximum Light Intensity\";\n    msg.topic = \"Light Intensity Warning\"\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 900,
        "wires": [
            [
                "e1e23aac2bc52a5e"
            ]
        ]
    },
    {
        "id": "e1e23aac2bc52a5e",
        "type": "ui_toast",
        "z": "9fc70cf43a34da9e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Light Intensity Notification",
        "x": 1270,
        "y": 900,
        "wires": []
    },
    {
        "id": "232da0f8fe6f744d",
        "type": "ui_chart",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "group": "eb957972e6b992d9",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "2ae1a42f03909e1a",
        "type": "ui_slider",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Minumum Angle",
        "tooltip": "",
        "group": "84b895dbf3a1702a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "190622R/min_angle",
        "topicType": "str",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 2620,
        "y": 40,
        "wires": [
            [
                "166414533bc9710c",
                "8e9150027505e72d"
            ]
        ]
    },
    {
        "id": "2fb37bf8dd5260b8",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 2430,
        "y": 40,
        "wires": [
            [
                "2ae1a42f03909e1a"
            ]
        ]
    },
    {
        "id": "2db65198db300077",
        "type": "ui_slider",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "84b895dbf3a1702a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "190622R/contrling_factor",
        "topicType": "str",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 2630,
        "y": 140,
        "wires": [
            [
                "d94babdbc9b0c1f1",
                "8e9150027505e72d"
            ]
        ]
    },
    {
        "id": "bd3426318da0c515",
        "type": "link out",
        "z": "9fc70cf43a34da9e",
        "name": "servo",
        "mode": "link",
        "links": [
            "856df2095393af2b"
        ],
        "x": 3095,
        "y": 220,
        "wires": []
    },
    {
        "id": "ee0930ef3b66e47a",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.75",
        "payloadType": "num",
        "x": 2430,
        "y": 140,
        "wires": [
            [
                "2db65198db300077"
            ]
        ]
    },
    {
        "id": "172eb7793f2423a3",
        "type": "ui_text_input",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Delay (ms)",
        "tooltip": "",
        "group": "99ad34ad8a935e95",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2010,
        "y": 900,
        "wires": [
            [
                "2ddb39d2465a647c",
                "20c0d53e90a82e6f"
            ]
        ]
    },
    {
        "id": "24f1e41e24bf6fc8",
        "type": "ui_text_input",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Frequency (Hz)",
        "tooltip": "",
        "group": "99ad34ad8a935e95",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2020,
        "y": 960,
        "wires": [
            [
                "849c92f76f93835e",
                "20c0d53e90a82e6f"
            ]
        ]
    },
    {
        "id": "3ac2a97e245d19b0",
        "type": "ui_dropdown",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Buzzer Type",
        "tooltip": "",
        "place": "Select option",
        "group": "99ad34ad8a935e95",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Continuos",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Repeat On-Off",
                "value": 0,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 2010,
        "y": 1020,
        "wires": [
            [
                "44669ba5819ed926",
                "20c0d53e90a82e6f"
            ]
        ]
    },
    {
        "id": "8e2cb26ac0063340",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 1810,
        "y": 900,
        "wires": [
            [
                "172eb7793f2423a3"
            ]
        ]
    },
    {
        "id": "02ec33916fe4f073",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 1810,
        "y": 960,
        "wires": [
            [
                "24f1e41e24bf6fc8"
            ]
        ]
    },
    {
        "id": "0af54a8c97f7372a",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1810,
        "y": 1020,
        "wires": [
            [
                "3ac2a97e245d19b0"
            ]
        ]
    },
    {
        "id": "191097676757f535",
        "type": "ui_switch",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "f7a9cd67e59156f4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2010,
        "y": 1280,
        "wires": [
            [
                "c6c8c015e3aee5eb"
            ]
        ]
    },
    {
        "id": "04804074950a4e28",
        "type": "ui_switch",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Humidity",
        "tooltip": "",
        "group": "f7a9cd67e59156f4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2000,
        "y": 1340,
        "wires": [
            [
                "51c1344acc01916f"
            ]
        ]
    },
    {
        "id": "477472509c06e55e",
        "type": "ui_switch",
        "z": "9fc70cf43a34da9e",
        "name": "",
        "label": "Light Intensity",
        "tooltip": "",
        "group": "f7a9cd67e59156f4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2020,
        "y": 1400,
        "wires": [
            [
                "d87793834eb0a7a4"
            ]
        ]
    },
    {
        "id": "1c3316e272b64a9d",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1810,
        "y": 1280,
        "wires": [
            [
                "191097676757f535"
            ]
        ]
    },
    {
        "id": "c6c8c015e3aee5eb",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Change Payload",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Medibox_Temperature\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Medibox_Temperature\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 1280,
        "wires": [
            [
                "619c4fd36e2f5f27"
            ]
        ]
    },
    {
        "id": "752fb79be75ae6bb",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1810,
        "y": 1340,
        "wires": [
            [
                "04804074950a4e28"
            ]
        ]
    },
    {
        "id": "b57003e3c0b88302",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Initial Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1810,
        "y": 1400,
        "wires": [
            [
                "477472509c06e55e"
            ]
        ]
    },
    {
        "id": "51c1344acc01916f",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Change Payload",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Medibox_Humidity\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Medibox_Humidity\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 1340,
        "wires": [
            [
                "619c4fd36e2f5f27"
            ]
        ]
    },
    {
        "id": "619c4fd36e2f5f27",
        "type": "ui_ui_control",
        "z": "9fc70cf43a34da9e",
        "name": "Change Visibility",
        "events": "all",
        "x": 2480,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "d87793834eb0a7a4",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Change Payload",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Medibox_Light_Intensity\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Medibox_Light_Intensity\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 1400,
        "wires": [
            [
                "619c4fd36e2f5f27"
            ]
        ]
    },
    {
        "id": "cd785d391ad3f7f4",
        "type": "function",
        "z": "9fc70cf43a34da9e",
        "name": "Sync Alarms",
        "func": "if (msg.payload == 0) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 540,
        "wires": [
            [
                "40e2022084843a44",
                "4565835e8865e793",
                "2568156f3c50e4be"
            ]
        ]
    },
    {
        "id": "2ddb39d2465a647c",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Delay",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2220,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "849c92f76f93835e",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Frequency",
        "rules": [
            {
                "t": "set",
                "p": "freq",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2240,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "44669ba5819ed926",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Type",
        "rules": [
            {
                "t": "set",
                "p": "type",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2220,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "aa6ce25c02e2806e",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Trigger Sync",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1980,
        "y": 1100,
        "wires": [
            [
                "20c0d53e90a82e6f"
            ]
        ]
    },
    {
        "id": "20c0d53e90a82e6f",
        "type": "function",
        "z": "9fc70cf43a34da9e",
        "name": "Sync Settings Periodically",
        "func": "let delay = flow.get(\"delay\").toLocaleString('en-US', { minimumIntegerDigits: 5, useGrouping: false });\nlet freq = flow.get(\"freq\").toLocaleString('en-US', { minimumIntegerDigits: 5, useGrouping: false });\nlet type = flow.get(\"type\").toString();\nmsg.payload = delay + freq + type;\nmsg.topic = \"190622R/settings\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"delay\", 1000);\nflow.set(\"freq\", 1000);\nflow.set(\"type\", 0);",
        "finalize": "",
        "libs": [],
        "x": 2290,
        "y": 1100,
        "wires": [
            [
                "a35e53b38d8530ea"
            ]
        ]
    },
    {
        "id": "a35e53b38d8530ea",
        "type": "link out",
        "z": "9fc70cf43a34da9e",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "856df2095393af2b"
        ],
        "x": 2465,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e60ca9f42b47fce6",
        "type": "link out",
        "z": "9fc70cf43a34da9e",
        "name": "switch_back",
        "mode": "link",
        "links": [
            "23d6ca8b9712da67"
        ],
        "x": 490,
        "y": 640,
        "wires": [],
        "l": true
    },
    {
        "id": "23d6ca8b9712da67",
        "type": "link in",
        "z": "9fc70cf43a34da9e",
        "name": "link in 4",
        "links": [
            "e60ca9f42b47fce6"
        ],
        "x": 1685,
        "y": 120,
        "wires": [
            [
                "beca1c88f0500908"
            ]
        ]
    },
    {
        "id": "244ab5200e415e42",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Sync Servo Periodically",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2530,
        "y": 220,
        "wires": [
            [
                "8e9150027505e72d"
            ]
        ]
    },
    {
        "id": "166414533bc9710c",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Minimum Angle",
        "rules": [
            {
                "t": "set",
                "p": "min_angle",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2850,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d94babdbc9b0c1f1",
        "type": "change",
        "z": "9fc70cf43a34da9e",
        "name": "Set Controlling Factor",
        "rules": [
            {
                "t": "set",
                "p": "con_fact",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8e9150027505e72d",
        "type": "function",
        "z": "9fc70cf43a34da9e",
        "name": "Sync Servo Parameters",
        "func": "let min_angle = flow.get(\"min_angle\").toLocaleString('en-US', { minimumIntegerDigits: 3, useGrouping: false });\nlet con_fact = flow.get(\"con_fact\").toFixed(2).toLocaleString('en-US', { minimumIntegerDigits: 1, useGrouping: false });\n\nmsg.payload = min_angle + con_fact;\nmsg.topic = \"190622R/servo\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"min_angle\", 30);\nflow.set(\"con_fact\", 0.75);",
        "finalize": "",
        "libs": [],
        "x": 2890,
        "y": 220,
        "wires": [
            [
                "bd3426318da0c515"
            ]
        ]
    },
    {
        "id": "a37b2760ca3777ad",
        "type": "inject",
        "z": "9fc70cf43a34da9e",
        "name": "Sync Time Periodically",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1970,
        "y": 1520,
        "wires": [
            [
                "c01fdbfc07b97b8f"
            ]
        ]
    },
    {
        "id": "c01fdbfc07b97b8f",
        "type": "function",
        "z": "9fc70cf43a34da9e",
        "name": "Process Time",
        "func": "let time = new Date()\n\nlet year = time.getFullYear().toLocaleString('en-US', { minimumIntegerDigits: 4, useGrouping: false });\nlet month = (time.getMonth() + 1).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\nlet day = time.getDate().toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\nlet hour = time.getHours().toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\nlet minute = time.getMinutes().toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\nlet second = time.getSeconds().toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false });\n\nmsg.payload = year + month + day + hour + minute + second;\nmsg.topic = \"190622R/time_sync\";\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 1520,
        "wires": [
            [
                "927a478b7fa3c782"
            ]
        ]
    },
    {
        "id": "927a478b7fa3c782",
        "type": "link out",
        "z": "9fc70cf43a34da9e",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "856df2095393af2b"
        ],
        "x": 2445,
        "y": 1520,
        "wires": []
    }
]